<div id="main-content">
  <div id="main-text">
    <div id="weather">
      <div id="location"></div>
      <div id="temp-degree"></div>
      <div id="temp-icon"></div>
    </div>
    <div id="tweets"></div>
  </div>
</div>